<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.project.mapper.PaymentRecordMapper">

    <resultMap id="BaseResultMap" type="com.app.project.model.entity.PaymentRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="paymentId" column="paymentId" jdbcType="BIGINT"/>
            <result property="paymentName" column="paymentName" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="payAmount" column="payAmount" jdbcType="VARCHAR"/>
            <result property="payDate" column="payDate" jdbcType="TIMESTAMP"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,paymentId,payAmount,userName,paymentName
        payDate,userId,createTime,
        updateTime,isDelete
    </sql>
</mapper>
