<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.project.mapper.VisitorMapper">

    <resultMap id="BaseResultMap" type="com.app.project.model.entity.Visitor">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="visitorName" column="visitorName" jdbcType="VARCHAR"/>
            <result property="visitingTime" column="visitingTime" jdbcType="TIMESTAMP"/>
            <result property="visitorPhone" column="visitorPhone" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,visitorName,visitingTime,
        visitorPhone,remark,status,reason,
        userId,createTime,updateTime,
        isDelete
    </sql>
</mapper>
